<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<th:block th:replace="/fragments/head"/>
<body>
<div class="container-fluid">
    <header>
        <th:block th:replace="/fragments/navbar"/>
    </header>
    <main>
        <div class="container-fluid">
            <div class="jumbotron re-background mt-4 rounded">
                <h1 class="display-4">Project: Resident Evil</h1>
                <hr class=>
                <p class="lead">Resident Evil is a system that registers virus spreads across the world. </p>
            </div>
        </div>
    </main>
    <footer>
        <th:block th:replace="/fragments/footer"/>
    </footer>
</div>
</body>
</html>